.feat{
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
        margin: 0 10px;
        &-box {
            text-align: left;
        }
        &-title {
            font-family: 'Open Sans ', sans-serif;
            font-weight: 500;
            font-size: 2.9rem;
            color: #515151;
            padding-top: 81px;
            padding-bottom: 33px;
        }
        &-text {
            font-family: 'Open Sans ', sans-serif;
            font-weight: 400;
            font-size: 1.7rem;
            color: #8f8f8f;
            padding-bottom: 70px;
            max-width: 100%;
            padding-right: 129px;
        }
        &-btn {
            button {
                color: #515151;
                border-color: #515151;
                border-radius: 5px;
                outline: none;
                border: 1px solid;
                box-shadow: none;
                width: 181px;
                height: 50px;
                font-size: 1.4rem;
            }
        }
    }
    &__item {
        width: 100%;
        max-width: 300px;
        margin: 0 1%;
        overflow: hidden;
        cursor: pointer;
        &s {
            display: flex;
	        justify-content: space-between;
	        max-width: 100%;
	        margin-bottom: 80px;
        }
        &-img {
            display: flex;
            justify-content: right;
            img {
                float: left;
                max-height: 226px;
                width: 100%;
                max-width: 300px;
                overflow: hidden;
            }
            button {
                float: right;
                position: absolute;
                margin-top: 170px;
                margin-right: 15px;
                z-index: 50;
                width: 139px;
                height: 35px;
                background-color: #26a6d1;
                font-size: 1.6rem;
                font-weight: 400;
                color: #fff;
                outline: none;
                border-style: none;
                border-radius: 5px;
            }
        }
        &-description {
            display: block;
            padding-left: 25px;
            padding-right: 24px;
            border: #e5e5e5 1px solid;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            border-top: none;
        }
    }
    &__description{
        &-title {
            text-align: start;
            font-family: 'Open Sans ', sans-serif;
            font-weight: 600;
            font-size: 1.7rem;
            color: #484848;
            padding-top: 30px;
            padding-bottom: 19px;
        }
        &-text {
            font-family: 'Open Sans ', sans-serif;
            font-weight: 400;
            font-size: 1.3rem;
            color: #484848;
            text-align: start;
            padding-bottom: 23px;
        }
    }
    &__complete {
        font-family: 'Open Sans ', sans-serif;
        font-weight: 500;
        font-size: 1.3rem;
        color: #8d8d8d;
        padding-bottom: 20px;
        progress {
            background-color: #e3e3e3;
            width: 100%;
            height: 14px;
            border-radius: 7px;
        }
    }
    &__remaining {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
        border-bottom: 1px #d6d6d6 solid;
        margin-bottom: 26px;
    }
    &__details {
        text-align: end;
        padding-bottom: 28px;
    }
}

progress {
	&::-webkit-progress-bar {
		background-color: #e3e3e3;
		border-radius: 7px;
	}
	&::-webkit-progress-value {
		background-color: #add136;
		border-radius: 7px;
	}
}
