.find {
	display: flex;
	justify-content: center;
	@include __tablet_m{
		display: block ;
	}
	&__title {
		padding-top: 46px;
		padding-bottom: 39px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		font-size: 2.3rem;
		@include __mobile_l{
			text-align: center;
		}
		@include __mobile_m{
			text-align: center;
		}
		@include __mobile_s{
			text-align: center;
		}	
	}
	&__text {
		font-family: 'Open Sans ', sans-serif;
		font-weight: 400;
		font-size: 1.7rem;
		padding-bottom: 31px;
		max-width: 257px;
		@include __mobile_l{
			text-align: center;
			max-width: 100%;
			padding: 0px 50px 40px;
		}
		@include __mobile_m{
			text-align: center;
			max-width: 100%;
			padding: 0px 50px 40px;
		}
		@include __mobile_s{
			text-align: center;
			max-width: 100%;
			padding: 0px 50px 40px;
		}	
	}
	&__img {
		padding-right: 47px;
		padding-left: 78px;
		padding-top: 96px;
		@include __tablet_l{
			padding-left: 30px;
		}
		@include __tablet_m{
			padding-left: 30px;
		}
		@include __mobile_l{
			text-align: center;
			padding-left: 0;
			padding-right: 0;
		}
		@include __mobile_m{
			text-align: center;
			padding-left: 0;
			padding-right: 0;
		}
		@include __mobile_s{
			text-align: center;
			padding-left: 0;
			padding-right: 0;
		}
	}
	&__item{
		&-left{
			@include __mobile_l{
				display: block;
				justify-content: center;
			}
			@include __mobile_m{
				display: block;				
				justify-content: center;
			}
			@include __mobile_s{
				display: block;				
				justify-content: center;
			}	
		}

		&-btn {
			padding-bottom: 47px;
			@include __mobile_l{
				text-align: center;
			}
			@include __mobile_m{
				text-align: center;
			}
			@include __mobile_s{
				text-align: center;
			}	
		}
	}
	&__btn {
		padding: 24px 26px 20px;
		border-radius: 10px;
		outline: none;
		border-style: none;
		color: #fff;
		font-size: 1.4rem;
		font-family: 'Open Sans ', sans-serif;
		font-weight: 500;
		background-color: #add136;
	}
	&__bg{
		&-left {
			background: #e2f8ff;
			width: 50%;
			@include __tablet_m{
				width: 100%;
			}
			@include __mobile_l{
				width: 100%;
			}
			@include __mobile_m{
				width: 100%;
			}
			@include __mobile_s{
				width: 100%;
			}
		}
		&-right {
			background: #f5f9eb;
			width: 50%;
			@include __tablet_m{
				width: 100%;
			}
			@include __mobile_l{
				width: 100%;
			}
			@include __mobile_m{
				width: 100%;
			}
			@include __mobile_s{
				width: 100%;
			}
		}
	}
}

.buyers {
	display: flex;
	justify-content: left;
	@include __tablet_m{
		
		justify-content: center;
	}
	@include __mobile_l{
		display: block;
		justify-content: center;
	}
	@include __mobile_m{
		display: block;
		justify-content: center;
	}
	@include __mobile_s{
		display: block;
		justify-content: center;
	}	
}

.properties {
	background: #e2f8ff;
	display: flex;
	justify-content: right;
	@include __tablet_m{
		justify-content: center;
	}
	@include __mobile_l{
		display: block;
		margin: 0 auto;
		justify-content: center;
	}
	@include __mobile_m{
		display: block;
		margin: 0 auto;
		justify-content: center;
	}
	@include __mobile_s{
		display: block;
		margin: 0 auto;
		justify-content: center;
	}
}

#find__btn {
	background-color: #26a6d1;
	border-color: #26a6d1;
	outline: none;
	border-style: none;
	color: #fff;
	font-size: 1.4rem;
	font-family: 'Open Sans ', sans-serif;
	font-weight: 500;
}