footer {
    display: none ;
}

.companies {
	text-align: center;
	padding-top: 52px;
	padding-bottom: 42px;
	border-bottom: 1px #ededed solid;
	img {
		max-width: 100%;
	}
}
.copyright {
	text-align: center;
	color: #848484;
	padding-top: 27px;
	padding-bottom: 28px;
}
