.header {
	display: flex;
	justify-content: space-between;
	margin: auto;
	max-width: 979px;
	padding-bottom: 22px;
    & .container{
        display: flex;
    }
    @include __tablet_l{
        max-width: 979px;
    }

    @include __tablet_m{
        max-width: 768px;
    }

    @include __mobile_l{
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 50;
        max-width: 600px;
    }

    @include __mobile_m{
        max-width: 480px;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 50;
    }
    @include __mobile_s{
        max-width: 350px;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 50;
    }
    &::before{
        @include __tablet_l{
             
        }
    
        @include __tablet_m{
            
        }
    
        @include __mobile_l{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 60px;
            background-color: #26a6d1;
        }
    
        @include __mobile_m{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 60px;
            background-color: #26a6d1;
        }
        @include __mobile_s{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 60px; 
            background-color: #26a6d1;
        }
    }
}

.header__logo {
	margin-top: 30px;
	position: relative;
	display: flex;
	align-items: center;
    @include __tablet_l{
        display: none;   
    }

    @include __tablet_m{
        display: none;
    }

    @include __mobile_l{
        display: none;
    }

    @include __mobile_m{
        display: none;
    }
    @include __mobile_s{
        display: none;        
    }
	a {
		font-family: 'Nunito', sans-serif;
		font-size: 3.1rem;
		color: rgb(109, 110, 112);
		text-transform: uppercase;
		margin-left: 50px;
		&::before {
			content: url("../img/logo.png");
			margin: 0;
			position: absolute;
			top: 50%;
			transform: translate(0,-50%);
			left: 3%;
		}
	}
}

.navbar {
	margin-top: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    @include __tablet_l{
        margin: 30px auto 0; 
    }

    @include __tablet_m{
        margin: 30px auto 0;
        display: block;
    }

    @include __mobile_l{
        margin: 20px auto 0;
        display: block;  
        z-index: 2;
    }

    @include __mobile_m{
        margin: 20px auto 0;
        display: block;  
        z-index: 2;
    }
    @include __mobile_s{
        margin: 20px auto 0;
        display: block; 
        z-index: 2;
    }
	&__btn button{
        padding: 15px 30px;
        text-transform: uppercase;
        margin: 0 auto;
        @include __tablet_m{
            margin-top: 25px;
        }
        
           
    }
    &__menu {
        z-index: 500;
        
		@include __mobile_l{
            display: none;
            position: fixed;
            top: -100%;
            left: 0;
            width: 100%;
            height: 460px;
            background-color: #26a6d1;
            z-index: 500;
        }

        @include __mobile_m{
            display: none;
            position: fixed;
            top: -100%;
            left: 0;
            width: 100%;
            height: 460px;
            background-color: #26a6d1;
            z-index: 500;
        }

        @include __mobile_s{
            display: none;
            position: fixed;
            top: -100%;
            left: 0;
            width: 100%;
            height: 460px;
            background-color: #26a6d1;
            z-index: 500;
        }
        &.active{
            @include __mobile_l{
                top: 0;
                transition: all 0.3s ease 0s;
            }

            @include __mobile_m{
                top: 0;
                transition: all 0.3s ease 0s;
            }

            @include __mobile_s{
                top: 0;
                transition: all 0.3s ease 0s;
            }
            
            
        }
		a {
			text-decoration: none;
			font-size: 1.3rem;
			font-family: 'Open Sans ', sans-serif;
			font-weight: 600;
			padding: 0px 15px;
			text-transform: uppercase;
			color: rgb(109, 110, 112);
			margin-bottom: 15px;
            @include __tablet_m{
                padding: 0px 10px;
                font-size: 1.1rem;
            }
            @include __mobile_l{
                padding: 0px 10px;
                font-size: 1.5rem;
                color: #fff;
            }
        
            @include __mobile_m{
                padding: 0px 10px;
                font-size: 1.5rem;
                color: #fff;
            }
            @include __mobile_s{  
                padding: 0px 10px;             
                font-size: 1.5rem;
                color: #fff;
            }
		}
        
        li {
            align-items: center;
            @include __mobile_l{
                margin-bottom: 25px;
            }

            @include __mobile_m{
                margin-bottom: 25px;
            }

            @include __mobile_s{
                margin-bottom: 25px;
            }
            button{
                padding: 15px 30px;
                text-transform: uppercase;
                margin: 0 auto;
                @include __mobile_l{
                    padding: 25px 75px;
                    margin-top: 25px;
                }
                @include __mobile_m{
                    padding: 25px 75px;
                    margin-top: 25px;
                }
                @include __mobile_s{
                    padding: 25px 75px;
                    margin-top: 25px;
                }
            }
        }
	}
	ul {
		display: flex;
		justify-content: space-between;
        @include __mobile_l{
            padding-top: 50px;
            display: block; 
        }
    
        @include __mobile_m{
            padding-top: 50px;
            display: block; 
        }
        @include __mobile_s{
            padding-top: 50px;
            display: block; 
        }
    }
    &__burger{
        display: none;
        position: absolute;
        width: 30px;
        height: 20px;
        margin: 20px;
        padding: 0;
        right: 0;
        z-index: 3;
        @include __mobile_l{
            display: block; 
        }
    
        @include __mobile_m{
            display: block; 
        }
        @include __mobile_s{
            display: block; 
        }

        & span{
            position: absolute;
            background-color: #fff;
            left: 0;
            width: 100%;
            height: 2px;
            top: 9px;
            
        }

        &.active{
            & span{
                transform: scale(0);
            }
            &::before {
                transform: rotate(45deg);
                top: 9px;
                transition: all 0.3s ease 0s;
            }
            &::after{
                transform: rotate(-45deg);
                bottom: 9px;
                transition: all 0.3s ease 0s;
            }
        }

        &::before,
        &::after{
            content: '';
            background-color: #fff;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
        }

        &::before{
            top: 0;
            
        }

        &::after{
            bottom: 0;
            
        }
    }
}
.container {
	display: block;
	justify-content: space-between;
	width: 100%;
	padding: 0 10px;
	margin: 0 auto;
	max-width: 1024px;
	text-align: center;
	width: 100%;
	max-width: 1024px;
    @include __tablet_l{
		max-width: 979px;
	}
	@include __tablet_m{
		max-width: 768px;
	}
	@include __mobile_l{
		max-width: 600px;
	}
	@include __mobile_m{
		max-width: 480px;
	}
	@include __mobile_s{
		max-width: 350px;
	}
	

}
ul.navbar__menu {
    align-items: center;
}