
.pres {
	display:flex;
	.container {
		display: block;
	}
	&__icon {
		padding-top: 100px;
		padding-bottom: 54px;
		@include __tablet_l{
			padding-top: 25px;
    		padding-bottom: 15px;
		}
		@include __tablet_m{
			padding-top: 25px;
    		padding-bottom: 15px;
		}
		@include __mobile_l{

		}
		@include __mobile_m{

		}
		@include __mobile_s{

		}
	}
	&__title {
		font-size: 3.3rem;
		padding-bottom: 71px;
		@include __tablet_l {
			font-size: 3rem;
			padding-bottom: 10px;
		}
		@include __tablet_m{
			font-size: 2.7rem;
			padding-bottom: 10px;
		}
		@include __mobile_l{
			font-size: 2.5rem;
			padding-bottom: 10px;
		}
		@include __mobile_m{
			font-size: 2.5rem;
			padding-bottom: 10px;
		}
		@include __mobile_s{
			font-size: 2.5rem;
			padding-bottom: 10px;
		}
	}
	&__text {
		color: #515151;
		padding-bottom: 162px;
		@include __tablet_l {
			padding-bottom: 25px;
		}
		@include __tablet_m{
			padding-bottom: 25px;
		}
		@include __mobile_l{
			padding-bottom: 25px;
		}
		@include __mobile_m{
			padding-bottom: 25px;
		}
		@include __mobile_s{
			padding-bottom: 25px;
		}
	}
	&__items {
		display: none;
		justify-content: space-between;
	}
	&__name {
		display: inline;
		align-items: center;
		padding: 0 15px;
		margin-bottom: 1px;
		ol {
			display: flex;
			justify-content: space-between;
			margin: 0;
			border-bottom: 1px solid #e6e6e6;
			@include __mobile_l{
				display: block;
			}
			@include __mobile_m{
				display: block;
			}
			@include __mobile_s{
				display: block;
			}
			li {
				::before {
					border-bottom: 1px solid;
					border-color: #e6e6e6;
				}
			}
		}
		&_title {
			font-family: 'Open Sans ', sans-serif;
			font-weight: 300;
			font-size: 3.3rem;
			color: #5c5c5c;
			display: flex;
			text-align: center;
			padding-bottom: 46px;
			cursor: pointer;
			margin-top: 15px;
			border-bottom: 1px solid #e6e6e6;

			@include __tablet_l{
				font-size: 3rem;
				padding-bottom: 20px;
			}
			@include __tablet_m{
				font-size: 2.5rem;
				padding-bottom: 20px;
			}
			@include __mobile_l{
				font-size: 2.5rem;
				padding-bottom: 20px;
			}
			@include __mobile_m{
				font-size: 2.5rem;
				padding-bottom: 20px;
			}
			@include __mobile_s{
				font-size: 2.5rem;
				padding-bottom: 20px;
			}
			&::before {
				counter-increment: presCounter;
  				content:counter(presCounter);
  				color: white;
  				background: #add136;
  				display: inline-block;
  				text-align: center;
  				margin: 5px 10px;
 				line-height: 40px;
				border-radius: 50%;
  				width: 40px;
  				height: 40px;
				align-items: center;
				margin: 0;
				left: 0px;
			}
		}
	}
}
.active__button {
	border-bottom: 1px solid;
	border-color: #add136;
}

.slider{
	&__img {
		padding-top: 87px;
		
		@include __mobile_m{
			padding-top: 40px;
			
		}
		@include __mobile_s{
			padding-top: 40px;
			
		}	
	}
	&__title {
		font-family: 'Open Sans ', sans-serif;
		font-weight: 400;
		color: #add136;
		font-size: 2.5rem;
		padding-top: 72px;
		padding-bottom: 34px;
		}
	&__text {
		font-family: 'Open Sans ', sans-serif;
		font-weight: 400;
		font-size: 1.7rem;
		color: #606060;
		padding-bottom: 111px;
	}
	&__item {
		display: none;
		&-left {
			width: 100%;
			max-width: 33%;
			@include __mobile_m{
				text-align: center;
				max-width: 100%;
				
			}
			@include __mobile_s{
				text-align: center;
				max-width: 100%;
				
			}	
		}
		&-right {
			width: 100%;
			max-width: 66%;
			padding: 10px;
			@include __mobile_l{
				text-align: center;
				max-width: 100%;
			
			}
			@include __mobile_m{
				text-align: center;
				max-width: 100%;
				
			}
			@include __mobile_s{
				text-align: center;
				max-width: 100%;
				
			}	
		}
	}
}


.num__slider {
	font-size: 33px;
	:active {
		border: 1px solid;
		border-color: #add136;
	}
}

.active {
	display: flex;
	justify-content: space-between;
	opacity: 1;
	@include __mobile_m{
		display: block;
	}
	@include __mobile_s{
		display: block;
	}
}


#slider{
	&__2 {
	background-color: #333;
	}
	&__3 {
		background-color: #848484;
	}
}
li.pres__name_title {
	&::before {
		margin-right: 33px;
		@include __mobile_l{
			margin-right: 15px;
		}
		@include __mobile_m{
			margin-right: 15px;
		}
		@include __mobile_s{
			margin-right: 15px;
		}
	}
}