
.pres {
	display:none;
	.container {
		display: block;
	}
	&__icon {
		padding-top: 100px;
		padding-bottom: 54px;
	}
	&__title {
		padding-bottom: 71px;
	}
	&__text {
		color: #515151;
		padding-bottom: 162px;
	}
	&__items {
		display: none;
		justify-content: space-between;
	}
	&__name {
		display: inline;
		align-items: center;
		padding: 0 15px;
		margin-bottom: 1px;
		ol {
			display: flex;
			justify-content: space-between;
			margin: 0;
			border-bottom: 1px solid #e6e6e6;
			li {
				::before {
					border-bottom: 1px solid;
					border-color: #e6e6e6;
				}
			}
		}
		&_title {
			font-family: 'Open Sans ', sans-serif;
			font-weight: 300;
			font-size: 3.3rem;
			color: #5c5c5c;
			display: flex;
			text-align: center;
			padding-bottom: 46px;
			cursor: pointer;
			&::before {
				content: url(../img/Ellipse.png);
				align-items: center;
				margin: 0;
				left: 0px;
			}
		}
	}
}
.active__button {
	border-bottom: 1px solid;
	border-color: #add136;
}

.slider{
	&__img {
		padding-top: 87px;
	}
	&__title {
		font-family: 'Open Sans ', sans-serif;
		font-weight: 400;
		color: #add136;
		font-size: 2.5rem;
		padding-top: 72px;
		padding-bottom: 34px;
	}
	&__text {
		font-family: 'Open Sans ', sans-serif;
		font-weight: 400;
		font-size: 1.7rem;
		color: #606060;
		padding-bottom: 111px;
	}
	&__item {
		display: none;
		&-left {
			width: 100%;
			max-width: 33%;
		}
		&-right {
			width: 100%;
			max-width: 66%;
		}
	}
}


.num__slider {
	font-size: 33px;
	:active {
		border: 1px solid;
		border-color: #add136;
	}
}

.active {
	display: flex;
	justify-content: space-between;
	opacity: 1;
}


#slider{
	&__2 {
	background-color: #333;
	}
	&__3 {
		background-color: #848484;
	}
}
