.reg {
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
	max-height: 580px;
	min-width: 100%;
	max-width: 100%;
	background-image: url(../img/reg__bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	object-fit: cover;
	object-position: center;
	z-index: 4;
	@include __tablet_l{
        background-repeat: no-repeat;
		background-size: cover;
		text-align: center;
		object-fit: cover;
		object-position: center;
		overflow: hidden;
		max-height: 400px;
    }

    @include __tablet_m{
		background-repeat: no-repeat;
		background-size: cover;
		text-align: center;
		object-fit: cover;
		object-position: center;
		overflow: hidden;
    }

    @include __mobile_l{
		background-repeat: no-repeat;
		background-size: cover;
		text-align: center;
		object-fit: cover;
		object-position: center;
		overflow: hidden;
		margin-top: 60px;
	}

    @include __mobile_m{
		background-repeat: no-repeat;
		background-size: cover;
		text-align: center;
		object-fit: cover;
		object-position: center;
		overflow: hidden;
		margin-top: 60px;
	}
    @include __mobile_s{
		background-repeat: no-repeat;
		background-size: cover;
		text-align: center;
		object-fit: cover;
		object-position: center;
		overflow: hidden;
		margin-top: 60px;
	}
	.container {
		display: block;
		max-width: 1024px;
		height: 570px;
		@include __tablet_l{
			min-width: 979px;
			max-width: 979px;
			height: 400px;
        }
    
        @include __tablet_m{
			min-width: 768px;
			max-width: 768px;
        }
    
        @include __mobile_l{
			min-width: 600px;
			max-width: 600px;
        }
    
        @include __mobile_m{
			min-width: 480px;
			max-width: 480px;
        }
        @include __mobile_s{
			min-width: 350px;
			max-width: 350px;
        }
	}
	&__btn {
		padding: 30px 50px;
		font-size: 1.9rem;
	}
	&__title {
		padding-top: 208px;
		padding-bottom: 60px;
		font-size: 4.9rem;
		font-weight: 600;
		color: #fff;
			@include __tablet_l{
				padding-top: 100px;
				padding-bottom: 50px;
				font-size: 3.5rem;
			}
	
			@include __tablet_m{
				padding-top: 100px;
				padding-bottom: 50px;
				font-size: 3rem;
			}
	
			@include __mobile_l{
				padding-top: 100px;
				padding-bottom: 50px;
				font-size: 2.5rem;
			}
	
			@include __mobile_m{
				padding-top: 100px;
				padding-bottom: 50px;
				font-size: 1.9rem;
			}
			@include __mobile_s{
				padding-top: 100px;
				padding-bottom: 50px;
				font-size: 1.5rem;
			}
		span {
			display: block;
			font-size: 3rem;
			font-weight: 400;
		}
	}
	&__pos {
		margin-bottom: 109px
		button{
			margin-bottom: 30px
		}
	}
	&__slider{
        height: 100%;
        display: flex;
        transition: translate;
        transition-property: transform;
        transition-duration: 300ms;
        transition-timing-function: ease-in-out;
		&_btn{
			padding-top: 75px;
    		position: relative;
    		right: 0;
			@include __tablet_l{
				top: 430px;
			}
	
			@include __tablet_m{
				top: 430px;
			}
	
			@include __mobile_l{
				top: 340px;
			}
	
			@include __mobile_m{
				top: 340px;
			}
			@include __mobile_s{
				top: 340px;
			}
			a{
				cursor: pointer;
			}
		}
	}
}

.window {
    
    height: 100%;
    width: 100%;
    overflow: hidden;
    
}
.reg .slider__item{
	display: grid;
}

.slick{
	
	&-prev{
		margin: 0 0 0 auto;
		left: 0px;
		right: 0px;
		position: absolute;
		margin-right: 0;
		margin-left: auto;
		@include __tablet_l{
			
		}
		@include __tablet_m{

		}
		@include __mobile_l{

		}
		@include __mobile_m{
			
		}
		@include __mobile_s{
			
		}
	}
	&-next{
		left: 0px;
		position: absolute;
		margin-right: 0;
		margin-left: auto;
		@include __tablet_l{
			right: 50px;
		}
		@include __tablet_m{

		}
		@include __mobile_l{

		}
		@include __mobile_m{
			
		}
		@include __mobile_s{
			
		}
	}
}


[dir='rtl'] .slick{
	&-prev{
		right: 0px;
    	left: auto;
		&:before{
			content: '';
		}
	}
	&-next{
		right: auto;
		left: 0px;
		&:before{
			content: '';
		}
	}
}

.slick{
	&-prev{
		left: 0px;
		&:before
		{
			content: '';
		}
	}
	&-next
	{
		right: 0px; 
		&:before
		{
			content: '';
		}
	}
}