html {
	margin-right: calc(-1 * (100vw - 100%));
	font-size: 10px;
}
body {
	position: relative;
	font-family: 'Noto Sans', sans-serif;
	font-size: 1.6rem;
	line-height: 1.4;
	color: #000;
	min-width: 320px;
	overflow-x: hidden;
	height: auto;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	margin: 0;
}
button {
	margin: 0;
	padding: 0;
	border: none;
	background: #fff;
	cursor: pointer;
}
*, ::after, ::before {
	box-sizing: border-box;
}

li {
	list-style-type: none;
	&.pres__name_title {
		&::before {
			padding-right: 33px;
			@include __mobile_l{
				padding-right: 15px;
			}
			@include __mobile_m{
				padding-right: 15px;
			}
			@include __mobile_s{
				padding-right: 15px;
			}
		}
	}
}
a {
	text-decoration: none;
}

ol, ul ,li {
	margin: 0;
	margin-bottom: -1px;
	padding: 0;
}

.btn {
	cursor:pointer;
	font-family: 'Open Sans ', sans-serif;
	font-weight: 600;
	background: #bcda5c;
	outline: none;
	border-style: none;
	border-radius: 25px;
	color: #fff;
}
.container {
	display: block;
	justify-content: space-between;
	width: 100%;
	padding: 0;
	margin: 0 auto;
	max-width: 1024px;
	text-align: center;
	width: 100%;
	@include __tablet_l{
		max-width: 979px;
	}
	@include __tablet_m{
		max-width: 768px;
	}
	@include __mobile_l{
		max-width: 600px;
	}
	@include __mobile_m{
		max-width: 480px;
	}
	@include __mobile_s{
		max-width: 350px;
	}
}

.left__arrow{
	margin-right: 30px;
}