.reg{
    height: 580px;
    width: 100%;
    
    display: flex;
    align-items: center;
    
}


.reg__slider{
    height: 100%;
    display: flex;

    transition: translate;
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}
.slider__item_{
    &1{
        min-width: 1024px;
        max-width: 1024px;
    }
    &2{
        min-width: 1024px;
        max-width: 1024px;
    }
    &3{
        min-width: 1024px;
        max-width: 1024px;
    }
}